body {
  background-color: #333;
  overflow: hidden;
}

/* Carousel base class */
.carousel {
  height: 100%;
  text-align: center;
}

.carousel-indicators {
  position: fixed;
  z-index: 0;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  position: static;
  padding-top: 0;
  margin-top: 0;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: auto;
  background-color: #333;
}

.carousel-inner > .item > img {
  min-height: 593px;
  height: auto;
}

.carousel-inner img {
  height: 513px;
   border: 1px solid #999;
   background-color: #fcfcfc;
   padding: 4px; 
}

h1 {
    font-variant: small-caps;
    text-shadow: 1px 1px 1.5px black;
    font-size: 56px;
    font-weight: bold;
}

p {
    font-size: 30px;
    font-weight: bold;
}

#footer {
    height: 150px;
    width: 100%;
}
